body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}
.container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 70%;
    height: 50%;
}
.button {
    width: 70%;
    height: 50%;
    padding: 50px 100px;
    font-size: 16px;
    border: black;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}
#yellow {
    background-color: yellow;
    /* border-style: solid; */
    border-color: black;
}

#red {
    background-color: red;
    /* border-style: solid; */
    border-color: black;
}

#green {
    background-color: green;
    /* border-style: solid; */
    border-color: black;
}

#orange {
    background-color: orange;
    /* border-style: solid; */
    border-color: black;
}
#white {
    background-color: rgb(255, 255, 255);
    /* border-style: solid; */
    border-color: black;
}